<form [formGroup]="studentForm" (ngSubmit)="onSubmit()" class="main-form" action="">
  <mat-form-field ngClass="invisible">
    <input formControlName="id" matInput type="text" />
  </mat-form-field>  
  <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input formControlName="name" matInput type="text" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Apellido</mat-label>
      <input formControlName="lastname" matInput type="text" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput type="email" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput type="password" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Rol</mat-label>
      <mat-select formControlName="role" >
        <mat-option value = "ADMIN">Admin</mat-option>
        <mat-option value = "USER">User</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button color="primary" width="100px" height="40px">Guardar</button>
  </form>
