<mat-drawer-container class="dashboard-container">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="menu-item" (click)="navigateToCursos()">
      <mat-icon>book</mat-icon>
      <span>Cursos</span>
    </div>
    <div class="menu-item" (click)="navigateToStudents()">
      <mat-icon>person</mat-icon>
      <span>Estudiantes</span>
    </div>
    <div class="menu-item" (click)="navigateToLessons()">
      <mat-icon>school</mat-icon>
      <span>Clases</span>
    </div>
  </mat-drawer>
  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <span>Gestion de Cursos</span>
      <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <div class="p-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
